.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: $header-height;
    @include top-left;
    padding: 20px;
    position: fixed;
    z-index: 99;
    outline: 1px solid rgb(75,75,75);

    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    .header__Link {
        .Link__img {
            width: 50px;
        }
    }
    .header__nav {
        @include remove-margin-padding;
        list-style: none;
        .nav__item {
            .item__Link {
                font-weight: 500;
                text-decoration: none;
                color: white;
                @include transition-default;
                &:hover {
                    color: $primary-1;
                }
            }
        }
    }
    .header__auth {
        @include flex-center;
        height: $header-height;
        .auth__button {
            color: white;
            border: none;
            margin: 10px;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            @include transition-default;
            &.login {
                color: white;
                background: transparent;
                outline: 2px solid $primary-1;
            }
            &.register {
                background: $primary-1;
                outline: none;
            }
            &.register:hover {
                background: $primary-1-dark;
            }
            &.login:hover {
                color: $primary-1;
                background: rgba(255,255,255,0.1);
                box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
            }
        }
        .auth__Link {
            @include flex-center;
            background: rgb(45,45,45);
            padding: 5px;
            border-radius: 5px;
            outline: 1px solid rgb(75,75,75);
            margin-right: 5vw;
            @include transition-default;
            &:hover {
                background: rgb(55,55,55);
            }
            img {
                width: 30px;
            }
        }
    }
}